.cube{
    height:150px;
  
    width:150px;
    background-color:red;
    padding-left:50px;
    padding-top: 50px;
}
div p{
    color:white;
}
.cube1
{
    height:150px;
  
    width:150px;
    background-color:blue;
    padding-left:50px;
    padding-top: 50px;
}
.cube2{
    height:150px;
   
    width:150px;
    background-color:green;
    padding-left:50px;
    padding-top: 50px;
}
/* .grid{
    display:grid;
} */